<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :Имя %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :Комменарий %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit "Отправить", class: "btn btn-primary" %>
  </p>
<% end %>
