<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <% if @article.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@article.errors.count, "error") %> не позволяют сохранить эту статью:</h3>
        <ul><% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= form_for @article do |form| %>
        <%= form.label :Название %>
        <%= form.text_field :title, class: 'form-control' %>

        <%= form.label :Картинка %>
        <%= form.text_field :image_link, class: 'form-control' %>

        <%= form.label :Содержание %>
	      <%= form.text_area :content, rows: 7, class: 'form-control' %>
 
        <%= form.submit "Сохранить статью", class: "btn btn-primary" %>
 
      <% end %>
    </div>
  </div>
</div>
