<!--
<h1>3D Печать - технология будущего</h1>

<%= link_to 'Новая статья', new_article_path, class: "btn btn-primary" %>

<table>
  <tr>
    <th>Название</th>
    <th>Статья</th>
    <th></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><h2><%= article.title %></h2></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Показать', article_path(article), class: "btn btn-primary" %></td>
      <td><%= link_to 'Редактировать', edit_article_path(article), class: "btn btn-primary" %></td>
      <td><%= link_to 'Удалить', article_path(article),
              class: "btn btn-primary",
              method: :delete,
              data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
</table>
-->
<h1>3D Печать - технология будущего</h1>

<%= link_to 'Новая статья', new_article_path, class: "btn btn-primary" %>

<div class="container">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 blog-content">
    <% @articles.each do |article| %>
    <div class="col-xs-12">
      <div class="text-center">
        <h2><%= article.title %></h2>
        <h6><%= article.created_at.strftime('%b %d, %Y') %></h6>
      </div>

      <div>
        <%= raw(article.text).truncate(358) %>
      </div>

      <div class="text-center">
        <%= link_to "Читать далее...", article_path(article), class: "btn btn-primary" %>
      </div>
      <br>
    </div>
    <% end %>
  </div>
</div>
