<div class="container">
  <div class="col-sm-10 offset-sm-1 col-xs-12 blog-content">
    <div class="col-xs-12">
      <div class="text-center">
        <h2><%= @article.title %></h2>
      </div>
      <div>
        <%= raw(@article.content) %>
      </div>
    </div>
    <%= link_to 'Назад', articles_path, class: "btn btn-primary" %>
    <% if logged_in? %>
    <% if current_user.admin? %>
      <%= link_to "Редактировать", edit_article_path(@article), class: "btn btn-primary" %>
      <%= link_to "Удалить", @article, class: "btn btn-primary", method: :delete,
                                  data: { confirm: "Вы уверены?" } %>
    <% end %>
    <% end %>
  </div>
</div>
