<% provide(:title, @article.title) %>
  <div class="container" align="center">
    <h2><%= @article.title %></h2>
    <%= image_tag @article.image_link, class: "img-fluid", width: "50%" %>
    <div class="text-justify">
      <%= raw(@article.content) %>
    </div>
      <%= link_to 'Назад', articles_path, class: "btn btn-primary" %>
      <% if logged_in? %>
        <% if current_user.admin? %>
          <%= link_to "Редактировать", edit_article_path(@article), class: "btn btn-primary" %>
          <%= link_to "Удалить", @article, class: "btn btn-primary", method: :delete,
                                  data: { confirm: "Вы уверены?" } %>
        <% end %>
      <% end %>
  </div>
