<% provide(:title, "Заказать звонок") %>
<div class="container">
  <h1 align="center">Мы Вам перезвоним!</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <% if @callback.errors.any? %>
      <div id="error_explanation">
        <!--<h6><%= pluralize(@callback.errors.count, "error") %> не позволяют отправить это сообщение:</h6>-->
        <ul><% @callback.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <%= form_for @callback do |form| %>
        <%= form.label :Имя %>
        <%= form.text_field :name, class: 'form-control' %>

        <%= form.label :"email (не обязательно)" %>
        <%= form.email_field :email, class: 'form-control' %>

        <%= form.label :'Телефон' %>
        <%= form.phone_field :phone, class: 'form-control' %>

        <%= form.label :"Сообщение (не обязаетльно)" %>
        <%= form.text_area :message, rows: 2, class: 'form-control' %>

        <%= recaptcha_tags %>
        
        <%= form.submit "Заказать звонок", class: "btn btn-primary" %>
 
      <% end %>
      <h4 align="center">Или отправьте нам свой файл</h4>
      <%= link_to 'Отправить файл', new_file_send_path, class: "btn btn-success btn-block" %>
      <br>
    </div>
  </div>
</div>
