<footer class="footer">
  <small>
    Фабрика Технологий - 3D печать Вашей мечты
  </small>
  <nav>
    <ul>
      <li><%= link_to "Главная",   root_path %></li>
      <li><%= link_to 'Статьи', controller: 'articles' %></li>
      <li><%= link_to "Ваша модель",   your_model_path %></li>
      <li><%= link_to "Контакты",  contact_path %></li>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>
