<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "Фабрика Технологий", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to "Главная",   root_path, class: "nav-link"  %><span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <%= link_to 'Статьи', articles_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Ваша модель",   your_model_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Контакты",  contact_path, class: "nav-link" %>
        </li>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li class="nav-item"><%= link_to "Users", users_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Новая статья", new_article_path, class: "nav-link" %></li>
          <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Аккаунт
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Профиль", current_user, class: "dropdown-item" %>
              <%= link_to "Настройки", edit_user_path(current_user), class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
                <%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %>
            </div>
        <% else %>
          <%= link_to "Log in", login_path, class: "nav-link" %>
        <% end %>

          </li>
      </ul>
    </div>
  </nav>
</header>
